.card-border-wrapper {
    position: relative;
    padding: 2px;
    /* grosor del borde */
    border-radius: 0.75rem;
    background: linear-gradient(270deg, #032629, #016f7ed2, #021b1d);
    background-size: 400% 400%;
    animation: borderMove 3s linear infinite;
}

@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.card-inner {
    background-color: #1e1e1e;
    /* fondo de la card */
    border-radius: 0.65rem;
    height: 100%;
}

#educacion {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    padding-top: 6rem;
}

.draggable-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}


.draggable-card {
    position: absolute;
    width: 25%;
    height: 35%;
    min-width: 250px;
    max-width: 350px;
    border-radius: 5px;
    background: #222;
    padding: 1rem;
    cursor: grab;
    user-select: none;
    z-index: 1;
    font-size: 1rem;

}

/* RESPONSIVE: pantallas medianas */
@media (max-width: 768px) {
    .draggable-card {
        width: 30%;
        height: auto;
        font-size: 0.9rem;
        padding: 0.75rem;
    }
}

/* RESPONSIVE: pantallas muy chicas */
@media (max-width: 480px) {
    .draggable-card {
        width: 50%;
        height: auto;
        font-size: 0.85rem;
        padding: 0.5rem;
    }
}