.card-border-wrapper {
    position: relative;
    padding: 2px;
    /* grosor del borde */
    border-radius: 0.75rem;
    background: linear-gradient(270deg, #032629, #016f7ed2, #021b1d);
    background-size: 400% 400%;
    animation: borderMove 3s linear infinite;
}

@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.card-inner {
    background-color: #1e1e1e;
    /* fondo de la card */
    border-radius: 0.65rem;
    height: 100%;
}

#educacion {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    padding-top: 6rem;
}

.draggable-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.draggable-card {
    position: absolute;
    width: 100%;
    background: #222;
    padding: 1rem;
    color: white;
    cursor: grab;
    user-select: none;
}