.project-card {
    height: auto;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
}

/* Imagen */
.card-img-top {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
}

/* Texto */
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Media query para celular */
@media (max-width: 576px) {
    .card-body {
        font-size: 0.65rem;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.775rem;
    }

    .btn {
        font-size: 0.7rem;
        padding: 0.3rem 0.5rem;
    }

    .card-img-top {
        max-height: 180px;
    }
}